# Ignore node modules if you're using Node.js
node_modules/

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/

# Ignore build files (optional)
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
instance/
*.db
.DS_Store
