<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1> College look </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  
  <div class="product-grid">
 
  <a href=" https://www.nykaafashion.com/kazo-charcoal-disney-dumbo-sequined-and-graphic-t-shirt/p/17342273" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/0/70554d4KZ00907GREY_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Charcoal Disney Dumbo Sequined and Graphic T-Shirt</h4>
  <p>₹930</p>
  <span>nykaafashion.com</span>
</a>

<a href="https://www.nykaafashion.com/kazo-the-little-mermaid-disney-printed-t-shirt/p/15036955?intcmp" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/b/3b40822DKAZOX00013745_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>The Little Mermaid Disney Printed T-Shirt</h4>
  <p>₹1,164</p>
  <span>nykaafashion.com</span>
</a>

<a href="https://www.nykaafashion.com/the-souled-store-official-garfield-attitude-women-oversized-t-shirt-off-white/p/13258386?intcmp" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/8/2/82c6571241893_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Official Garfield : Attitude Women Oversized T-Shirt Off White</h4>
  <p>₹960</p>
  <span>nykaafashion.com</span>
</a>

<a href="https://www.nykaafashion.com/the-souled-store-official-disney-trip-to-the-stars-women-oversized-t-shirt/p/12858477?intcmp=widget,more_from_brand&ppid=13258386" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/2/4/24d6456Multi-234349_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Official Disney: Trip To The Stars Women Oversized T-Shirt</h4>
  <p>₹801</p>
  <span>nykaafashion.com</span>
</a>

<a href= " https://www.nykaafashion.com/twenty-dresses-by-nykaa-fashion-cream-graphic-printed-round-neck-boxy-crop-tshirt/p/17217072 target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/0/b08739eTP013612_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Off White Graphic Printed Round Neck Boxy Crop T-Shirt</h4>
  <p>₹876</p>
  <span>nykaafashion.com</span>
</a>

<a href="https://www.nykaafashion.com/vero-moda-blue-striped-rib-knit-t-shirt/p/17864373?intcmp=widget,more_from_category&ppid=17217072" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/5/a501571900905301_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Blue Striped Rib-Knit T-Shirt</h4>
  <p>₹1,250</p>
  <span>nykaafashion.com</span>
</a>

<a href="https://www.nykaafashion.com/only-women-white-cropped-t-shirt/p/18025521" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/d/5/d51fe43901330501_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Women White Cropped T-Shirt</h4>
  <p>₹800</p>
  <span>nykaafashion.com</span>
</a>

<a href= "https://www.nykaafashion.com/virgio-cool-knit-boxy-t-shirt/p/17523676" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/6/f/6fb8cc0VWWTO24260067_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Cool Knit Boxy T-Shirt</h4>
  <p>₹792</p>
  <span>nykaafashion.com</span>
</a>
<a href= "https://www.nykaafashion.com/kotty-women-s-regular-high-rise-black-jeans/p/14020745" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/7/3718ba4KTTLADIESJEANS1003_Black_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Women's Regular High Rise Black Jeans</h4>
  <p>₹740</p>
  <span>nykaafashion.com</span>
</a>
<a href= "https://www.nykaafashion.com/kotty-womens-high-rise-cotton-lycra-solid-jeans/p/14335038?intcmp=widget,more_from_brand&ppid=14020745" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/5/c55c805KTTLADIESJEANS1086-Spruceblue_5.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Womens High Rise Cotton Lycra Solid Jeans</h4>
  <p>₹680</p>
  <span>nykaafashion.com</span>
</a>

<a href= "https://www.nykaafashion.com/kotty-womens-high-rise-cotton-lycra-regular-fit-solid-jeans/p/14335070?intcmp=widget,more_from_brand&ppid=14335038" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/5/c55c805KTTLADIESJEANS1151-SkyBlue_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Blue Solid High Waist Fit And Flare Classic Denim Jeans</h4>
  <p>₹878</p>
  <span>nykaafashion.com</span>
</a>
<a href= "https://www.nykaafashion.com/miss-chase-women-white-bootcut-high-rise-clean-look-regular-length-stretchable-denim-jeans/p/12032287?intcmp=widget,more_from_category&ppid=14493548" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/c/7c75e83MISAA00007686_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Womens White Bootcut High Rise Regular Stretchable Denim Jeans</h4>
  <p>₹1,201</p>
  <span>nykaafashion.com</span>
</a>
<a href= "https://www.nykaafashion.com/kotty-womens-cotton-blend-straight-fit-trousers/p/14398396" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/8/9/89b208aKTTWOMENSPANT354-CreamyBeige_2.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Womens Cotton Blend Straight Fit Trousers</h4>
  <p>₹460</p>
  <span>nykaafashion.com</span>
</a>
<a href= "https://www.nykaafashion.com/buynewtrend-black-women-loose-fit-high-waist-parachute-cargo-pant/p/16418830?intcmp=widget,more_from_category&ppid=14398396" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/2/c22cde43439OS_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Black Women Loose Fit High Waist Parachute Cargo Pant</h4>
  <p>₹602</p>
  <span>nykaafashion.com</span>
</a>

<a href= "https://www.nykaafashion.com/kotty-womens-high-rise-viscose-rayon-flared-fit-solid-trousers/p/14398386?intcmp=widget,more_from_category&ppid=16418830" target="_blank" class="product-card">
  <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/a/ba3c704KTTWOMENSPANT322-Charcoalblack_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
  <h4>Womens High Rise Viscose Rayon Flared Fit Solid Trousers</h4>
  <p>₹500</p>
  <span>nykaafashion.com</span>
</a>
</div>

<script src="Wedding.js"></script>
</body>
</html>

