<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Date look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Date look </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  
    <div class="product-grid">
      <a href=" https://www.nykaafashion.com/cider-pink-floral-mesh-ruched-midi-dress/p/16996010" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/6/4/64c959dCD20230221255283TE-Pink_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Pink Floral Mesh Ruched Midi Dress</h4>
        <p>₹4,299</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href="https://www.nykaafashion.com/cider-solid-cowl-neck-slit-midi-dresses/p/10250612?intcmp=widget,more_from_brand&ppid=16996010" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/1/a/1ad5313NF-CD2021112543830LD-Pink_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Pink Solid Cowl Neck Slit Midi Dress</h4>
        <p>₹3,899</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href="https://www.nykaafashion.com/cider-teal-illusion-solid-ruched-cowl-neck-midi-dress/p/16890230?intcmp=widget,similar_products&ppid=10250612" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/8/3/8345694CD2022031570304LD-Navy-Blue_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Teal Illusion Solid Ruched Cowl Neck Midi Dress</h4>
        <p>₹3,999</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href="https://www.nykaafashion.com/cider-navy-blue-denim-ruffle-cami-maxi-dress/p/16996043?intcmp=widget,more_from_brand&ppid=16890230" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/6/4/64c959dCD20230613330026DD-Mid-Blue_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Navy Blue Denim Ruffle Cami Maxi Dress</h4>
        <p>₹4,640</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href= " https://www.nykaafashion.com/cider-velvet-boat-neck-bowknot-backless-midi-dress/p/18707707?intcmp=widget,more_from_brand&ppid=16996043" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/5/9512f6aCD20240819534136MDBlack_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Velvet Boat Neck Bowknot Backless Midi Dress</h4>
        <p>₹5,810</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href="https://www.nykaafashion.com/peach-panda-black-white-monochrome-godet-panel-maxi-dress/p/16935308" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/7/f7ffd43PAP2517_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Black & White Monochrome Godet Panel Maxi Dress</h4>
        <p>₹2,961</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href="https://www.nykaafashion.com/sotbella-black-embellished-fitted-dress/p/19376178?intcmp=widget,similar_products&ppid=16935308" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/4/7/47e14f3ST1341_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Black Embellished Fitted Dress</h4>
        <p>₹3,854</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href= "https://www.nykaafashion.com/miakee-gloria-maxi-dress/p/18236161?intcmp=widget,similar_products&ppid=16935308" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/4/7/47e14f3ST1332_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Black Love Bustier Corset Front Slit Dress</h4>
        <p>₹3,672</p>
        <span>nykaafashion.com</span>
      </a>
      <a href= "https://www.nykaafashion.com/kotty-women-s-regular-high-rise-black-jeans/p/14020745" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/0/3/0322e5eMNFMD4315677KBlack_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Gloria Maxi Dress</h4>
        <p>₹3,155</p>
        <span>nykaafashion.com</span>
      </a>
      <a href= "https://www.nykaafashion.com/miakee-laura-black-maxi-dress/p/19327827?intcmp=widget,similar_products&ppid=18236161" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/b/9bef596MNFMD4C18052ABlack_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Laura Black Maxi Dress</h4>
        <p>₹2,660</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href= "https://www.nykaafashion.com/rsvp-by-nykaa-fashion-pink-round-toe-embellished-strappy-heels/p/19056076" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/d/3/d3b1639HL021458_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Blue Solid High Waist Fit And Flare Classic Denim JeansPink Round Toe Embellished Flared Heels</h4>
        <p>₹1,747</p>
        <span>nykaafashion.com</span>
      </a>
      <a href= "https://www.nykaafashion.com/scentra-stacy-women-suede-ankle-loop-heels-sandal-beige/p/17565907" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/7/a793213SKV102BEIGE_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Stacy Women Suede Ankle Loop Heels Sandal - Beige</h4>
        <p>₹1,950</p>
        <span>nykaafashion.com</span>
      </a>
      <a href= "https://www.nykaafashion.com/truffle-collection-nude-solid-heels/p/10839319?intcmp=widget,similar_products&ppid=17565907" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/2/4/24c171cTC-RAH29-NUDMIC_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Nude Solid Heels</h4>
        <p>₹2,145</p>
        <span>nykaafashion.com</span>
      </a>
      <a href= "https://www.nykaafashion.com/inc-5-black-party-block-sandal-heels/p/16713552?intcmp=widget,similar_products&ppid=10839319" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/a/9a8e9b1300832BLACK_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Black Party Block Sandal Heels</h4>
        <p>₹2,690</p>
        <span>nykaafashion.com</span>
      </a>
  
      <a href= "https://www.nykaafashion.com/truffle-collection-black-embellished-heel-sandals/p/15139037?intcmp=widget,more_from_brand&ppid=10839319" target="_blank" class="product-card">
        <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/5/c5365e9TC-REN-N1266-BLK_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
        <h4>Black Embellished Heel Sandals</h4>
        <p>₹2,050</p>
        <span>nykaafashion.com</span>
      </a>
  </div>
  
  <script src="Wedding.js"></script>
  </body>
  </html>
  
    