<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Earrings </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.giva.co/products/sterling-silver-white-pearl-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER001_5.jpg?v=1742394292&width=713" alt="Yousta Top">
      <h4>Silver White Pearl Earrings</h4>
      <p>₹1,299</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-zircon-constellation-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/AVER0169_5.jpg?v=1713440304&width=713" alt="Yousta Top">
      <h4>Silver Zircon Constellation Earrings</h4>
      <p>₹1,099</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/golden-butterfly-studded-affair-earrings?rtoken=ChQxNTgyNDE4NDU1ODIxMjYxMTM5NRAMGiNyZWNvbW1lbmRlX3JlY29tbWVuZGVfMTcxNDEyOTM4MjEwMSIIZWFycmluZ3MoADoovvLREvrx0RKy8dESjPLRErTx0RKP8tESqfLREvfx0RK78tESrfLREg&rwidget=plp&rindex=3" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER0600_5_e430192d-bf47-412b-b602-e0b31ecb0bc6.jpg?v=1742394163&width=7133" alt="Yousta Top">
      <h4>Golden Butterfly Tiny Studded Affair Earrings</h4>
      <p>₹1,399</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/golden-blooming-flower-stud-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER0292_5_9a024dda-912e-4d77-bd41-ffbd64eb92cc.jpg?v=1742392651&width=713" alt="Yousta Top">
      <h4>Anushka Sharma Golden Blooming Flower Stud Earrings</h4>
      <p>₹1,999</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/golden-florally-yours-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER01916_5.jpg?v=1682604972&width=713" alt="Yousta Top">
      <h4>Golden Florally Yours Earrings</h4>
      <p>₹1,299</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/rose-gold-princess-earring" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER053_5.jpg?v=1711627127&width=713" alt="Yousta Top">
      <h4>Rose Gold Princess Earrings</h4>
      <p>₹2,199</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-royal-blue-crystal-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/products/ER0207_1.jpg?v=1628863986&width=713" alt="Yousta Top">
      <h4>Silver Royal Blue Crystal Earrings</h4>
      <p>₹1,399</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/rose-gold-wavecrest-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER01966_5.jpg?v=1692863047&width=713" alt="Yousta Top">
      <h4>Rose Gold Wavecrest Earrings</h4>
      <p>₹1,799</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/drizzle-drop-rose-gold-earrings?rtoken=ChM2MTkwNTE0MjIxOTY1MzE0Mzg3EAIaI3JlY29tbWVuZGVfb3RoZXJzLXlvdV8xNzEzNjkyMjg0NTk5IhNvdGhlcnMteW91LW1heS1saWtlKAA6KLTx0RKy8dES-vHREvfx0RKM8tESj_LREqny0RKt8tESvvLRErvy0RI&rwidget=pdp&rindex=1" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER058.jpg?v=1743661010&width=713" alt="Yousta Top">
      <h4>Rose Gold Zircon Drop Earrings</h4>
      <p>₹1,999</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-zircon-halo-earrings" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/ER0357_5.jpg?v=1713439035&width=713" alt="Yousta Top">
      <h4>Silver Zircon Halo Earrings</h4>
      <p>₹2,199</p>
      <span>giva.co</span>
    </a>

  </div>

  <script src="Wedding.js"></script>
</body>
</html>
