<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>GYM look </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">

    <a href="https://www.nykaafashion.com/athlisis-women-e-dry-slim-fit-t-shirt-lavender/p/18585847" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/1/9119d26AWTELS001-L_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women e-Dry Slim Fit T-Shirt - Lavender</h4>
      <p>₹789</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/athlisis-black-women-dry-fit-outdoor-jacket/p/14128688?intcmp=widget,more_from_brand&ppid=18585847" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/7/a7ecb9cAWJK08-B_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Black Women Dry-Fit Outdoor Jacket</h4>
      <p>₹998</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= " https://www.nykaafashion.com/athlisis-women-e-dry-cut-outs-slim-fit-t-shirt-black/p/18585845?intcmp=widget,more_from_brand&ppid=18585847" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/1/9119d26AWTELS001-B_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women e-Dry Cut Outs Slim Fit T-Shirt - Black</h4>
      <p>₹798</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/athlisis-maroon-women-dry-fit-outdoor-jacket/p/14128686?intcmp=widget,more_from_brand&ppid=18585845" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/7/a7ecb9cAWJK01-M_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Maroon Women Dry-Fit Outdoor Jacket</h4>
      <p>₹998</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/athlisis-f-green-women-solid-dry-fit-outdoor-jacket/p/16993414" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/0/f/0fc00bbAWJK012-FG_1.jpg?rnd=20200526195200&tr=w-1080https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/4/7/47e14f3ST1341_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Green Women Solid Dry-Fit Outdoor Jacket</h4>
      <p>₹998</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/puma-black-tad-pocket-7-8-tights/p/17504442" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/a/baf2b6952784101_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>PUMA, Train-All-Day Women's Black 7/8 Training Tights with Pockets</h4>
      <p>₹1,173</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/jockey-a157-women-super-combed-cotton-rich-straight-fit-black-shorts/p/16685663" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/b/abced0eA157-0101-BLACK_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>JOCKEY, A157 Women Super Combed Cotton Rich Straight Fit Shorts - Black</h4>
      <p>₹649</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/color-capital-women-brown-cycling-shorts/p/17351986?intcmp=widget,more_from_category&ppid=16685663" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/e/ee5f6b0169-smokeonion_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women Brown Cycling Shorts</h4>
      <p>₹592</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/rock-paper-scissors-mesh-panel-black-solid-gym-tights/p/18107755https://www.nykaafashion.com/rsvp-by-nykaa-fashion-pink-round-toe-embellished-strappy-heels/p/19056076" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/0/e0c2e5fONSWG-TIGHTS-STYL4_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Mesh Panel Black Solid Gym Tights</h4>
      <p>₹788</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/criss-cross-cotton-flare-pants-with-slit-at-ankle-and-back-pocket/p/13070184" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/5/e58bdb2KICAX00004910_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Criss-Cross Cotton Flare Pants With Slit At Ankle</h4>
      <p>₹1,150</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/kica-full-sleeve-fashion-hoodie-cotton-leggings-pink-for-everyday/p/14465830" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/b/7b3a8f9CO012-Pink_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Full Sleeve Fashion Hoodie & Cotton Leggings Pink For Everyday</h4>
      <p>₹2,309</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/aesthetic-bodies-black-solid-sweatshirt-and-trouser-set-of-2/p/18115281" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/c/9ccc240ABAWCOBK321_1.jpg?rnd=20200526195200&tr=w-1080"  target="_blank" alt="Yousta Top">
      <h4>Black Solid Sweatshirt and Trouser (Set of 2)</h4>
      <p>₹2,835</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/monte-carlo-grey-color-block-hoodies-and-jogger-set-of-2/p/13815973" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/1/a1d4e69223062757-1_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Monte Carlo
        Grey Color Block Hoodies And Jogger (Set of 2)</h4>
      <p>₹1,723</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/monte-carlo-maroon-color-block-jacket-and-pant-set-of-2/p/13815971" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/1/a1d4e69223062749-1_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Maroon Color Block Jacket And Pant (Set of 2)</h4>
      <p>₹1,748</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/cider-stitch-tank-top-elastic-waist-crop-pants-set-of-2/p/17250053?intcmp=widget,similar_products&ppid=13815971" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/2/2/222b2f5CD20230524319001RS-Purple_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Stitch Tank Top & Elastic Waist Crop Pants (Set of 2)</h4>
      <p>₹2,580</p>
      <span>nykaafashion.com</span>
</div>

<script src="Wedding.js"></script>
</body>
</html>
