<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Hair Accessories </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.etsy.com/listing/1899897599" target="_blank" class="product-card">
      <img src="https://i.etsystatic.com/58483327/r/il/1aeb10/6775563602/il_1588xN.6775563602_pbp5.jpg" alt="Yousta Top">
      <h4>Hibiscus Flower Claw Clips, Colorful Hair Accessories for Women, Aesthetic Hair Claw, Y2K Summer Hair Clips</h4>
      <p>₹599</p>
      <span>etsy.com</span>
    </a>
    <a href="https://www.etsy.com/listing/1887280422" target="_blank" class="product-card">
      <img src="https://i.etsystatic.com/58483327/r/il/9487cd/6783356808/il_1588xN.6783356808_tuqf.jpg" alt="Yousta Top">
      <h4>Satin Silk Scrunchies, Hair Scrunchy, Silk Scrunchie Set, Mulberry Satin Silk Scrunchie Set, Gift For Her, Mothers Day Gifts</h4>
      <p>₹197</p>
      <span>etsy.com</span>
      <a href="https://www.etsy.com/listing/1529736067" target="_blank" class="product-card">
        <img src="https://i.etsystatic.com/9763376/r/il/102814/5118494546/il_1588xN.5118494546_efd1.jpg" alt="Yousta Top">
        <h4>Blush flower hairpins Pink cream blue flowers Hair accessory Hairpins Flower hairpins Bridal hair Set of hair pins Flower hair Magaela</h4>
        <p>₹1,342</p>
        <span>etsy.com</span>
        <a href="https://www.etsy.com/listing/1001173041" target="_blank" class="product-card">
          <img src="https://i.etsystatic.com/14859358/r/il/506c24/1635926823/il_1588xN.1635926823_qu4f.jpg" alt="Yousta Top">
          <h4>Wedding Hair pins Bridal Hair Accessories Wedding HaIr Accessories Bridal Hair pins Bridal Hair Jewelry Bridesmaid Hair Pins</h4>
          <p>₹1,356</p>
          <span>etsy.com</span>
    </a>
    
        <a href="https://www.etsy.com/listing/1651649394" target="_blank" class="product-card">
          <img src="https://i.etsystatic.com/48396146/r/il/0db8b4/5706826806/il_1588xN.5706826806_f0ix.jpg" alt="Yousta Top">
          <h4>Star Moon Hair Clip,Celestial Clip Set,Starburst Barrette Hair Pin,Crystal Hairpin,Starburst Barrette,Barrettes and Clips, Planet Barrette</h4>
          <p>₹1,122</p>
          <span>etsy.com</span>
    </a>
    <a href="https://www.etsy.com/listing/1651649394" target="_blank" class="product-card">
      <img src="https://i.etsystatic.com/45649285/r/il/6320f7/5287665760/il_1588xN.5287665760_o16k.jpg" alt="Yousta Top">
      <h4>Geometric Metal Hair Clips</h4>
      <p>₹695</p>
      <span>etsy.com</span>
</a>
<a href="https://www.etsy.com/listing/1613500282" target="_blank" class="product-card">
  <img src="https://i.etsystatic.com/45649285/r/il/862ac5/5618745845/il_1588xN.5618745845_5zgm.jpg" alt="Yousta Top">
  <h4>Pearl Clear Crystal Hair Clips</h4>
  <p>₹1,275</p>
  <span>etsy.com</span>
  <a href="https://www.etsy.com/listing/1100343420" target="_blank" class="product-card">
    <img src="https://i.etsystatic.com/21610576/r/il/7b6594/3443268876/il_1588xN.3443268876_8o7k.jpg" alt="Yousta Top">
    <h4>Hair Barrette</h4>
    <p>₹874</p>
    <span>etsy.com</span>
</a>
<a href="https://www.etsy.com/listing/1049405618" target="_blank" class="product-card">
  <img src="https://i.etsystatic.com/11903322/r/il/92a9df/5427321856/il_1588xN.5427321856_phui.jpg" alt="Yousta Top">
  <h4>Pearl Hair Clips (Set of 2) Pearl Barrette</h4>
  <p>₹785</p>
  <span>etsy.com</span>
</a>
<a href="https://www.etsy.com/listing/1003699400" target="_blank" class="product-card">
  <img src="https://i.etsystatic.com/13683921/r/il/bc6c95/4962240888/il_1588xN.4962240888_9sil.jpg" alt="Yousta Top">
  <h4>Flower Girl Pearl Cluster Barrettes</h4>
  <p>₹1,310</p>
  <span>etsy.com</span>
</a>
<a href="https://www.etsy.com/listing/1167604624" target="_blank" class="product-card">
  <img src="https://i.etsystatic.com/26993484/r/il/c7f8ff/5640307383/il_1588xN.5640307383_9qwr.jpg" alt="Yousta Top">
  <h4>Large Pearl Hair Clips</h4>
  <p>₹495</p>
  <span>etsy.com</span>
</a>
  </div>

  <script src="Wedding.js"></script>
</body>
</html>
