<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Hand Accessories </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.giva.co/products/silver-royal-blue-drop-bracelet" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/BR0221_5.jpg?v=1694080362&width=713" alt="Yousta Top">
      <h4>Silver Royal Blue Drop Bracelet</h4>
      <p>₹2,499</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-heartlock-bracelet" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/BR046_5.jpg?v=1711690610&width=713" alt="Yousta Top">
      <h4>Anushka Sharma Silver Heartlock Bracelet</h4>
      <p>₹4,299</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-deer-heart-bracelet" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/BR0723_5_951930b5-7f7a-465e-9daa-35c029de8dad.jpg?v=1696593761&width=713" alt="Yousta Top">
      <h4>Silver Deer Heart Bracelet</h4>
      <p>₹2,099</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/giva-signauture-solitaire-bracelet" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/BR0196.jpg?v=1742394031&width=713" alt="Yousta Top">
      <h4>Silver Solitaire GIVA Signature Bracelet</h4>
      <p>₹4,399</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-beautiful-glittering-bracelet" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/BR0714_5_c25b49ab-e6e4-4017-9a30-4d9c4fba3cd5.jpg?v=1742392347&width=713" alt="Yousta Top">
      <h4>Silver Beautiful Glittering Bracelet</h4>
      <p>₹2,099</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/heart-stone-ring-2" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/R0633_5.jpg?v=1712234797&width=713" alt="Yousta Top">
      <h4>Silver Passionate Love Ring</h4>
      <p>₹1,299</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/two-layer-ring-in-yellow-gold" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/R0744_5.jpg?v=1712235519&width=713" alt="Yousta Top">
      <h4>Golden Daze Ring</h4>
      <p>₹1,399</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-classic-solitaire-ring?rtoken=ChQxMzA3MzMyMzg3ODUxODI4NDY2NRAMGiNyZWNvbW1lbmRlX3JlY29tbWVuZGVfMTcxNDEyOTM4MjEwMSIFcmluZ3MoADoo-vHRErLx0RK08dESu_LREqny0RL38dESjPLREo_y0RK-8tESrfLREg&rwidget=plp&rindex=2" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/R042_5.jpg?v=1712926930&width=713" alt="Yousta Top">
      <h4>Silver Classic Solitaire Ring</h4>
      <p>₹3,199</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-sleek-vanki-ring" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/R01628_5.jpg?v=1703764496&width=713" alt="Yousta Top">
      <h4>Silver Sleek Vanki Ring</h4>
      <p>₹1,099</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-cupid-arrow-couple-bands" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/R078_5.jpg?v=1694086703&width=713" alt="Yousta Top">
      <h4>Silver Cupid Arrow Couple Bands</h4>
      <p>₹3,099</p>
      <span>giva.co</span>
    </a>
  </div>



  <script src="Wedding.js"></script>
</body>
</html>
