<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Neck Accessories </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.giva.co/products/rose-gold-deer-heart-necklace-1" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD01335_1_157a015b-84f1-44e5-80b8-ea57e35b3cba.jpg?v=1733144485&width=713" alt="Yousta Top">
      <h4>Rose Gold Deer Heart Necklace</h4>
      <p>₹2,399</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/rose-gold-pink-drop-wreath-pendant-with-link-chain" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD0434_1-min.jpg?v=1711628440&width=713" alt="Yousta Top">
      <h4>Rose Gold Drop Wreath Pendant With Link Chain</h4>
      <p>₹2,199</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/crocus-flower-double-toned-pendant?rtoken=ChQxNTYwNDM4MDM5MTk1ODU2NTQ3ORAMGiNyZWNvbW1lbmRlX3JlY29tbWVuZGVfMTcxNDEyOTM4MjEwMSIIcGVuZGFudHMoADoo-vHREvfx0RKM8tESrfLRErTx0RKp8tESj_LRErLx0RK-8tESu_LREg&rwidget=plp&rindex=4" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD01220_5.jpg?v=1711627531&width=713" alt="Yousta Top">
      <h4>Rose Gold Flowing Crocus Pendant with Link Chain</h4>
      <p>₹2,499</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/silver-gracious-purple-pendant-with-link-chain" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD01478_5.jpg?v=1743660566&width=713" alt="Yousta Top">
      <h4>Silver Gracious Purple Pendant with Link Chain</h4>
      <p>₹1,999</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/bhumi-rose-gold-rani-ebony-pendant-with-link-chain" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD02245_5_4b10b484-5e68-4f9b-b386-2bf583a9c93e.jpg?v=1697781985&width=713" alt="Yousta Top">
      <h4>Rose Gold Rani Ebony Pendant with Link Chain</h4>
      <p>₹3,499</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/rose-gold-leafy-heart-necklace" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD02124_5_1f79283a-1a28-4bb8-b017-645490ad81b8.jpg?v=1710854176&width=713" alt="Yousta Top">
      <h4>Rose Gold Leafy Heart Necklace</h4>
      <p>₹4,999</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/ruby-red-stone-hanging-necklace" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/products/PD0925_5-min.jpg?v=1687865706&width=713" alt="Yousta Top">
      <h4>Silver Ruby Detail Necklace</h4>
      <p>₹9,299</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/giva-signature-solitaire-set-pendant" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD0325_5_84e42b5c-e695-4b76-97c6-07ec07d4be00.jpg?v=1742392580&width=713" alt="Yousta Top">
      <h4>GIVA Signature Solitaire Necklace</h4>
      <p>₹8,499</p>
      <span>giva.co</span>
    </a>
    <a href="https://www.giva.co/products/rose-gold-stoned-necklace" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD02030_5_3acfe9f4-ba55-4195-8073-af164e39e1c3.jpg?v=1743660992&width=713" alt="Yousta Top">
      <h4>Rose Gold Stoned Necklace</h4>
      <p>₹2,199</p>
      <span>giva.co</span>
    </a>
    <a href="Silver Glittering Hexagon Necklace" target="_blank" class="product-card">
      <img src="https://www.giva.co/cdn/shop/files/PD02036_5.jpg?v=1698931447&width=713" alt="Yousta Top">
      <h4>Silver Glittering Hexagon Necklace</h4>
      <p>₹5,499</p>
      <span>giva.co</span>
    </a>
  </div>

  <script src="Wedding.js"></script>
</body>
</html>
