<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1> Office look </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.nykaafashion.com/fithub-women-polyester-solid-brown-notched-lapel-top/p/16645638" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/e/a/ea2da2c631232_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women Polyester Solid Brown Notched Lapel Top</h4>
      <p>₹880</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/allen-solly-women-white-solid-formal-top/p/20319992" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/1/71981d8AHTSWRGFH40087_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women White Solid Formal Top</h4>
      <p>₹2,598</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= " https://www.nykaafashion.com/vero-moda-dusty-pink-v-neck-collar-top/p/17949260" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/2/32ee28a156949803_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Dusty Pink V-Neck Collar Top</h4>
      <p>₹2,145</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/u-s-polo-assn-bow-collar-flax-top/p/14008445?intcmp=widget,more_from_category&ppid=17949260" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/8/0/8088925DUSPOL00154429_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>U.S. POLO ASSN.
        Bow Collar Flax Top</h4>
      <p>₹1,809</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/u-s-polo-assn-long-sleeve-embroidered-blue-top/p/14242970?intcmp=widget,more_from_brand&ppid=14008445" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/5/c/5c48e27LUSPOL00155107_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Long Sleeve Embroidered Blue Top</h4>
      <p>₹1,848</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/u-s-polo-assn-white-and-blue-notched-neck-vertical-striped-evening-top/p/8248018?intcmp=widget,more_from_brand&ppid=14242970" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/4/f467f00UWAW22TOP007-White_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>White and Blue Notched Neck Vertical Striped Evening Top</h4>
      <p>₹1,499</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/u-s-polo-assn-polo-collar-geometric-printed-top/p/16688830?intcmp=widget,similar_products&ppid=8248018" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/d/c/dc41a91ARVND-UWAW24TOP193_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Polo Collar Geometric Printed Top</h4>
      <p>₹2,160</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/styli-women-blue-button-detail-top/p/16299328?intcmp=widget,more_from_category&ppid=16688830" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/0/b016a627009336203_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women Blue Button Detail Top</h4>
      <p>₹1,750</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/jaey-women-beige-regal-pleat-power-top/p/18441697?intcmp=widget,similar_products&ppid=16299328" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/4/c/4c5108cJA0018701Beige_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women Beige Regal Pleat Power Top</h4>
      <p>₹2,500</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/jaey-country-charm-lace-shirt/p/16093513?intcmp=widget,more_from_brand&ppid=18441697" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/6/f6de1f0JA0016601_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Criss-Cross Cotton Flare Pants With Slit At Ankle</h4>
      <p>₹1,150</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/jaey-women-brown-tie-up-linen-dream-waistcoat-with-trouser-set-of-2/p/18435125" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/0/4/049fb63JA0017501_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Women Brown Tie-Up Linen Dream Waistcoat with Trouser (Set of 2)</h4>
      <p>₹4,750</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/jaey-women-blue-asymmetrical-co-ord-set-of-2/p/16051839" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/4/b/4b48e17JA0010001_1.jpg?rnd=20200526195200&tr=w-1080"  target="_blank" alt="Yousta Top">
      <h4>Women Blue Asymmetrical Co-Ord (Set of 2)</h4>
      <p>₹3,850</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/powersutra-notch-collar-stretch-blazer-and-pant-suit-teal-green-set-of-2/p/13397946" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/b/cbccd90PS160TEALGREENPR_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Notch Collar Stretch Pant Suit- Teal Green</h4>
      <p>₹5,158</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/hubberholme-womens-lavender-solid-regular-notch-lapel-collar-full-sleeve-co-ords-set-of-2/p/18247054?intcmp=widget,more_from_category&ppid=13397946" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/c/7/c7ce4d9HHWCSS2405LV_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Womens Lavender Solid Regular Notch Lapel Collar Full Sleeve Co-Ords (Set of 2)</h4>
      <p>₹5,600</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/powersutra-tie-stretch-blazer-and-pants-set-of-2/p/15306274?intcmp=widget,similar_products&ppid=18247054" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/b/5/b548462PS169PINKPR_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Tie Stretch Blazer and Pants (Set of 2)</h4>
      <p>₹5,204</p>
      <span>nykaafashion.com</span>
</div>

<script src="Wedding.js"></script>
</body>
</html>

 