<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>gym look - PinFashion</title>
  <link rel="stylesheet" href="/frontend/js/css/16pages.css" />
</head>
<body>
  <header>
    <h1>Wedding look </h1>
    <a href="/frontend/templates/page2.html" class="back-link">← Back to Main Menu</a>
  </header>

  <div class="product-grid">
    <a href="https://www.nykaafashion.com/vairagee-red-soft-georgette-embroidery-saree-and-soft-banglory-silk-unstitched-blouse/p/15119925" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/a/5/a5268a26190_2_0.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Red Soft Georgette Embroidery Saree and Soft Banglory Silk Unstitched Blouse</h4>
      <p>₹9,995</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/zari-jaipur-embroidery-sequins-saree-with-unstitched/p/12977802?intcmp=widget,more_from_category&ppid=15119925" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/c/7c8f94aIN-K202SRMTM4137Orange_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Embroidery Sequins Saree with Unstitched Blouse</h4>
      <p>₹9,887</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= " https://www.nykaafashion.com/zari-jaipur-cream-georgette-embroidery-saree-with-unstitched-blouse/p/13601837?intcmp=widget,more_from_brand&ppid=12977802" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/9/996dbdaJ038-3437-Cream_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Cream Georgette Embroidery Saree with Unstitched Blouse</h4>
      <p>₹13,487</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/kasee-green-embellished-sequined-saree-with-unstitched-with-unstitched/p/18251504?intcmp=widget,more_from_category&ppid=12977802" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/d/2/d2a34ca2289PISTAGREEN_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Green Embellished Saree with Unstitched Blouse</h4>
      <p>₹8,549</p>
      <span>nykaafashion.com</span>
    </a>

    <a href="https://www.nykaafashion.com/koskii-rust-embellished-saree-with-unstitched-blouse-with-unstitched/p/19030265?intcmp=widget,similar_products&ppid=18251504" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/7/5/754c2cbSAUS0041331RUST_4.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Rust Embellished Saree with Unstitched Blouse</h4>
      <p>₹8,490</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/libas-hot-pink-chanderi-silk-thread-work-straight-kurta/p/16415473" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/d/fd2de9658009_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Hot Pink Chanderi Silk Thread Work Straight Kurta</h4>
      <p>₹1,386</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/libas-yellow-silk-blend-embroidered-yoke-with-highlited-straight-kurta/p/16415497?intcmp=widget,more_from_brand&ppid=16415473" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/d/fd2de9623491O_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>yellow Silk Blend Embroidered Yoke With Highlighted Straight Kurta</h4>
      <p>₹1,518</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/libas-navy-blue-solid-silk-kurta-with-trouser-and-woven-design-dupatta-set-of-3/p/18228704?intcmp=widget,more_from_brand&ppid=16415497" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/9/b/9b7350c39041_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Navy Blue Cotton Blend Solid Kurta Sets for Women</h4>
      <p>₹1,617</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/gajra-gang-bonjour-baegum-ecru-georgette-embroidered-short-anarkali-ggbbks03-set-of-3/p/16732673?intcmp=widget,more_from_brand&ppid=5170697" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/1/3/136a506GGBBKS03_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Bonjour Baegum Ecru Georgette Embroidered Short Anarkali GGBBKS03 (Set of 3)</h4>
      <p>₹4,875</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/bud-tulip-gulabo-pink-anarkali-kurta-with-pant-and-dupatta-set-of-3/p/18087891?intcmp=widget,more_from_category&ppid=16732673" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/0/30d49426125PURPLE_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Gulabo Pink Anarkali Kurta with Pant and Dupatta (Set of 3)</h4>
      <p>₹5,691</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/panchhi-purple-moti-embroidery-semi-stitched-lehenga-with-blouse-dupatta-set-of-3/p/19063269" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/d/2/d206a1dBT00125_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Purple Moti Embroidery Semi-Stitched Lehenga with Blouse & Dupatta (Set of 3)</h4>
      <p>₹21,999+</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/panchhi-chiffon-sequins-and-thread-embroidery-semi-stitched-lehenga-choli-and-dupatta-set-of-3/p/18152988?intcmp=widget,more_from_brand&ppid=19063269" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/f/4/f47a57a6067ROSEGOLD_1.jpg?rnd=20200526195200&tr=w-1080"  target="_blank" alt="Yousta Top">
      <h4>Chiffon Sequins and Thread Embroidery Semi-Stitched Lehenga Choli and Dupatta (Set of 3)</h4>
      <p>₹25,999</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/panchhi-white-sequins-work-semi-stitched-lehenga-unstitched-blouse-with-dupatta-set-of-3/p/17537712" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/8/2/82beccc5748-CREAM_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>White Sequins Work Semi-Stitched Lehenga-Unstitched Blouse with Dupatta (Set of 3))</h4>
      <p>₹15,499</p>
      <span>nykaafashion.com</span>
    </a>

    <a href= "https://www.nykaafashion.com/panchhi-pink-zarkan-embroidery-semi-stitched-lehenga-with-blouse-dupatta-set-of-3/p/19063285?intcmp=widget,similar_products&ppid=17537712" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/0/30d49426147PINK_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Pink Zarkan Embroidery Semi-Stitched Lehenga with Blouse & Dupatta</h4>
      <p>₹16,999</p>
      <span>nykaafashion.com</span>
    </a>
    <a href= "https://www.nykaafashion.com/panchhi-navy-blue-zarkan-embroidery-semi-stitched-lehenga-with-blouse-dupatta-set-of-3/p/19063277?intcmp=widget,more_from_brand&ppid=19063285" target="_blank" class="product-card">
      <img src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/3/0/30d49426148NAVYBLUE_1.jpg?rnd=20200526195200&tr=w-1080" alt="Yousta Top">
      <h4>Navy Blue Zarkan Embroidery Semi-Stitched Lehenga with Blouse & Dupatta (Set of 3)</h4>
      <p>₹2,580</p>
      <span>nykaafashion.com</span>
</div>
  </div>

  <script src="Wedding.js"></script>
</body>
</html>
